h1 {
  margin: 3rem 0;
  text-align: center;
  color: #5c5c5c;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

a {
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}
