:host {
  display: block;
  max-width: 25rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #dcdbd7;
  border-radius: 22px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  font-weight: bold;
}

textarea {
  width: 90%;
  margin: 0.7rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #ffffff;
  color: #373333;
}

textarea:focus-visible {
  outline: none;
}

.actions {
  text-align: right;
  margin: 0;
}

button {
  font: inherit;
  background-color: #44424c;
  color: #ffffff;
  border: none;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}
